.alert {
    padding: 15px;
    border-radius: 10px;
    margin: 5px 0px;
}
.alert-red {
    background-color: lighten($red, 10);
}
.alert-blue {
    background-color: lighten($blue, 10);
}
.alert-yellow {
    background-color: lighten($yellow, 10);
}
.alert-green {
    background-color: lighten($green, 10);
}
