.alert {
    padding: 15px;
    border-radius: 10px;
    margin: 5px 0px;
}
.alert-red {
    background-color: salmon;
}
.alert-blue {
    background-color: lightblue;
}
.alert-yellow {
    background-color: orange;
}
