.box {
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px $snow;
    border-top: 3px solid $blue;
    margin-bottom: 10px;
}
.box-header {
    border-bottom: 1px solid $snow;
    font-size: 18px;
    padding: 3px 5px 7px 5px;
    color: $black;
}
.box-body {
    padding: 5px;
}
