.box {
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px $snow;
    border-top: 3px solid $blue;
    margin-bottom: 10px;
}
.box-header {
    border-bottom: 1px solid $snow;
    font-size: 18px;
    padding: 0px 5px;
    color: $black;
    font-weight: normal;
    margin: 0px;
    line-height: 30px;
    .btn-default, .btn-default, .btn-info, .btn-primary, .btn-warning, .btn-danger {
        vertical-align: baseline;
    }
}
.box-footer {
    border-top: 1px solid $snow;
    padding: 5px 5px 3px 5px;
    color: $black;
    font-weight: normal;
    margin: 0px;
}
.box-body {
    padding: 5px 15px;
}
