.btn {
    display: inline-block !important;
    padding: 10px 15px 8px 15px;
    border: none;
    margin: 2px;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s;
    text-decoration: none;
    line-height: 17px;
    background-color: $btn-default-color;
    &:hover, &:focus {
        background-color: darken($btn-default-color, $btn-hover-darken);
    }
    &[disabled] {
        background-color: lighten($btn-default-color, $btn-disabled-lighten);
        cursor: not-allowed;
    }
}

.btn-success {
    background: $btn-success-color;
    &:hover, &:focus {
        background: darken($btn-success-color, $btn-hover-darken);
    }
    &[disabled] {
        background-color: lighten($btn-success-color, $btn-disabled-lighten);
    }
}
.btn-info {
    background: $btn-info-color;
    &:hover, &:focus {
        background: darken($btn-info-color, $btn-hover-darken);
    }
    &[disabled] {
        background-color: lighten($btn-info-color, $btn-disabled-lighten);
    }
}
.btn-primary {
    background: $btn-primary-color;
    &:hover, &:focus {
        background: darken($btn-primary-color, $btn-hover-darken);
    }
    &[disabled] {
        background-color: lighten($btn-primary-color, $btn-disabled-lighten);
    }
}
.btn-warning {
    background: $btn-warning-color;
    &:hover, &:focus {
        background: darken($btn-warning-color, $btn-hover-darken);
    }
    &[disabled] {
        background-color: lighten($btn-warning-color, $btn-disabled-lighten);
    }
}
.btn-danger {
    background: $btn-danger-color;
    &:hover, &:focus {
        background: darken($btn-danger-color, $btn-hover-darken);
    }
    &[disabled] {
        background-color: lighten($btn-danger-color, $btn-disabled-lighten);
    }
}

.btn-xs {
    font-size: 13px;
    padding: 3px 5px 1px 5px;
}
.btn-sm {
    font-size: 13px;
    padding: 7px 10px 5px 10px;
}
.btn-lg {
    font-size: 20px;
    padding: 15px 20px 13px 20px;
}
