.btn-green, .btn-yellow, .btn-red, .btn-blue {
    display: inline-block !important;
    padding: 10px 15px;
    border: none;
    margin: 2px;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .2s;
    text-decoration: none;
}
.btn-green {
    background: rgb(0, 166, 90);
    &:hover {
        background: darken(rgb(0, 166, 90), 5);
    }
}
.btn-yellow {
    background: rgb(243, 156, 18);
    &:hover {
        background: darken(rgb(243, 156, 18), 5);
    }
}
.btn-red {
    background: rgb(221, 75, 57);
    &:hover {
        background: darken(rgb(221, 75, 57), 5);
    }
}
.btn-blue {
    background: $blue;
    &:hover {
        background: darken($blue, 5);
    }
}
.btn-small {
    font-size: 13px;
    padding: 7px;
}
