.btn-default, .btn-success, .btn-info, .btn-primary, .btn-warning, .btn-danger {
    position: relative;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    margin: 2px;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: .1s;
    text-decoration: none;
    line-height: 17px;
    outline: none;
    border: none;
    box-shadow: -1px -1px 0px rgba(0, 0, 0, .2) inset, 1px 1px 1px rgba(0, 0, 0, .2);
    vertical-align: top;
    user-select: none;
    &>.material-icons {
        font-size: 1.2em;
        margin-top: -0.1em;
    }
    &:hover, &:focus {
        transition-duration: .4s;
        box-shadow: none;
    }
    &:active {
        box-shadow: 2px 2px 1px rgba(0, 0, 0, .2) inset;
    }
    &[disabled], &.disabled {
        cursor: not-allowed;
        box-shadow: none;
    }
}
@mixin button-color($color) {
    background-color: $color;
    &:hover, &:focus {
        background-color: darken($color, $btn-hover-darken);
    }
    &:active {
        background-color: darken($color, $btn-active-darken);
    }
    &[disabled], &.disabled {
        background-color: mix($color, $btn-disabled-mix);
    }
}
.btn-default {
    color: rgb(100, 100, 100);
    text-shadow: none;
    border: 1px solid lightgray;
    margin: 1px;
    @include button-color(white);
}
.btn-success {
    @include button-color($btn-success-color);
}
.btn-info {
    @include button-color($btn-info-color);
}
.btn-primary {
    @include button-color($btn-primary-color);
}
.btn-warning {
    @include button-color($btn-warning-color);
}
.btn-danger {
    @include button-color($btn-danger-color);
}

.btn-xs {
    font-size: 13px;
    padding: 3px 5px 1px 5px;
    box-shadow: -1px -1px 0px rgba(0, 0, 0, .2) inset;
    &:hover, &:focus {
        box-shadow: 1px 1px 0px rgba(0, 0, 0, .2) inset;
    }
}
.btn-sm {
    font-size: 13px;
    padding: 7px 10px 5px 10px;
}
.btn-lg {
    font-size: 20px;
    padding: 15px 20px 13px 20px;
}

@media (pointer: fine) {
    .btn-color-trigger {
        &:not(:hover):not(:focus):not(focus-within) {
            .btn-default, .btn-success, .btn-info, .btn-primary, .btn-warning, .btn-danger {
                &:not(:hover):not(:focus) {
                    background-color: transparent;
                    border-color: lightgray;
                    color: rgb(100, 100, 100);
                    text-shadow: none;
                }
            }
        }
        .btn-default, .btn-success, .btn-info, .btn-primary, .btn-warning, .btn-danger {
            font-weight: bold;
            border: 1px solid transparent;
        }
    }
}

.disable-pointer {
    pointer-events: none;
}