.combo-menu {
    user-select: none;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    border-radius: 5px;
    border: 1px solid lightgray;
    z-index: 5;
    padding: 0px 1px;
    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        border-top: 0px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 10px solid;
        left: 10px;
    }
    &::before {
        bottom: 100%;
        border-bottom-color: lightgray;
        filter: drop-shadow(2px 0px rgba(0,0,0,.3));
    }
    &::after {
        bottom: calc(100% - 1px);
        border-bottom-color: white;
    }
    .combo-right>& {
        right: 0px;
        &::before, &::after {
            left: initial;
            right: 10px;
        }
    }
    .combo-top>& {
        bottom: calc(100% + 1px);
        &::before, &::after {
            transform: rotateX(180deg);
            bottom: initial;
        }
        &::before {
            top: 100%;
        }
        &::after {
            top: calc(100% - 1px);
        }
    }
}
.combo-item {
    display: block;
    position: relative;
    padding: 7px 15px;
    margin: 3px 0px;
    min-width: 170px;
    transition: background-color .2s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:first-child {
        margin-top: 5px;
    }
    &:last-child {
        margin-bottom: 5px;
    }
    &:hover {
        background-color: lightgray;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background-color: lightgray;
        top: -2px;
        left: 5px;
        right: 5px;
    }
    &:first-child::before {
        display: none;
    }
}

.combo {
    position: relative;
    display: inline-block;
    &:hover > .combo-menu {
        transition: opacity .3s;
        opacity: 1;
        user-select: initial;
        pointer-events: initial;
    }
}
.combo-trigger {
    &:focus, &:hover, &:active {
        & + .combo-menu {
            transition: opacity .3s;
            opacity: 1;
            user-select: initial;
            pointer-events: initial;
        }
    }
}