.combo-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    border-radius: 5px;
    margin-top: 0px;
    border: 1px solid lightgray;
    padding: 5px 0px;
    z-index: 5;
    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        border-top: 0px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 10px solid;
        left: 10px;
    }
    &::before {
        bottom: 100%;
        border-bottom-color: lightgray;
        filter: drop-shadow(2px 0px rgba(0,0,0,.3));
    }
    &::after {
        bottom: calc(100% - 1px);
        border-bottom-color: white;
    }
    .combo-right>& {
        right: 0px;
        &::before, &::after {
            left: initial;
            right: 10px;
        }
    }
}
.combo-item {
    padding: 7px 15px;
    display: block;
    min-width: 170px;
    transition: background-color .2s;
    cursor: pointer;
    &:hover {
        background-color: lightgray;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background-color: lightgray;
        top: 0px;
        left: 5px;
        right: 5px;
        .combo-item:focus+&, .combo-item:hover+&, .combo-item:active+& {
            left: 0px;
            right: 0px;
        }
    }
    &:first-child::before {
        display: none;
    }
}

.combo {
    display: inline-block;
    &:hover > .combo-menu {
        display: block;
    }
}
.combo-trigger {
    &:focus, &:hover, &:active {
        & + .combo-menu {
            display: block;
        }
    }
}