.input {
    display: flex;
    flex-direction: column;
    &>label {
        order: -1;
    }
    &>input:required+label::after,
    &>select:required+label::after,
    &>textarea:required+label::after {
        content: " (Obrigatório)";
        color: gray;
        font-size: .9em;
        font-weight: normal;
    }
}
label {
    padding: 3px 0px;
    display: inline-block;
    font-weight: bold;
    color: $black;
}
input:not([type='checkbox']):not([type='radio']), select, textarea {
    padding: 8px;
    width: 100%;
    margin-bottom: 5px;
    background: white;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    transition: border-bottom-color .5s, color .5s;
    outline: none;
    &:focus {
        border-bottom-color: $blue;
        &:invalid {
            border-bottom-color: $red;
        }
    }
    &:invalid {
        box-shadow: none; // remove firefox style
    }
}
input[type='checkbox'] {
    display: inline-block;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid blue;
    outline: none;
    margin-right: 5px;
    &:before {
        content: "✔";
        width: 18px;
        line-height: 18px;
        text-align: center;
        display: inline-block;
        color: white;
    }
    &:checked::before {
        color: blue;
    }
    label:hover>&::before, &:focus::before {
        font-weight: bold;
        border: 1px solid blue;
        line-height: 16px;
    }
}
input[type='radio'] {
    display: inline-block;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid blue;
    outline: none;
    margin-right: 5px;
    &:before {
        content: "";
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 5px;
        display: block;
    }
    &:checked::before {
        background-color: blue;
    }
    &:hover, &:focus {
        border-width: 2px;
        &:before {
            margin: 3px;
        }
    }
}
select:required:invalid {
    color: lightgray;
}
