.label {
    padding: 3px 0px;
    display: inline-block;
}
.input {
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.checkbox {
    display: none;
    &+.label {
        cursor: pointer;
        padding-left: 25px;
        line-height: 20px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            left: 15px;
            height: 20px;
            line-height: 18px;
            border: 1px solid blue;
            box-sizing: border-box;
            top: 3px;
            margin-right: 5px;
            color: blue;
            text-align: center;
        }
        &:hover::before {
            border-width: 2px;
            line-height: 16px;
        }
    }
    &:checked+.label::before {
        content: "✔";

    }
}
.radio {
    display: none;
    &+.label {
        cursor: pointer;
        padding-left: 25px;
        line-height: 20px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            border-radius: 10px;
            left: 15px;
            height: 20px;
            padding-right: 1px;
            line-height: 18px;
            border: 1px solid blue;
            box-sizing: border-box;
            top: 3px;
            margin-right: 5px;
            color: blue;
            text-align: center;
            font-size: 40px;
        }
        &:hover::before {
            border-width: 2px;
            line-height: 16px;
        }
    }
    &:checked+.label::before {
        content: "•";

    }
}
