.modal {
    display: none;
    position: fixed;
    top: 20px;
    background-color: white;
    z-index: 10;
    width: 800px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    left: calc(50% - 400px);
    @media (max-width: 800px) {
        width: 90%;
        left: 5%;
    }
    &:target {
        display: block;
    }
    &.modal-lg {
        width: 1100px;
        left: calc(50% - 550px);
        @media (max-width: 1100px) {
            width: 90%;
            left: 5%;
        }
    }
    &.modal-sm {
        width: 600px;
        left: calc(50% - 300px);
        @media (max-width: 600px) {
            width: 90%;
            left: 5%;
        }
    }
    &.modal-xs {
        width: 400px;
        left: calc(50% - 200px);
        @media (max-width: 200px) {
            width: 90%;
            left: 5%;
        }
    }
}
.modal-header {
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    color: $darkgray;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;
}
.modal-body {
    padding: 10px;
    overflow: hidden;
}
.modal-footer {
    border-top: 1px solid lightgray;
    padding: 2px;
    position: sticky;
    bottom: 0px;
    background-color: white;
}
.modal-close {
    display: none;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    .modal:target+& {
        display: block;
    }
}