.modal {
    display: none;
    position: fixed;
    top: 20px;
    background-color: white;
    z-index: 10;
    width: 800px;
    left: calc(50% - 400px);
    @media (max-width: 800px) {
        width: 90%;
        left: 5%;
    }
    &:target {
        display: block;
    }
}
.modal-header {
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    color: $darkgray;
    border-bottom: 1px solid lightgray;
}
.modal-body {
    padding: 10px;
}
.modal-footer {
    border-top: 1px solid lightgray;
    padding: 2px;
}
.modal-close {
    display: none;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    .modal:target+& {
        display: block;
    }
}
