.modal {
    pointer-events: none;
    opacity: 0;
    user-select: none;
    position: fixed;
    top: 20px;
    background-color: white;
    z-index: 10;
    width: 800px;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    left: calc(50% - 400px);
    @media (max-width: 800px) {
        width: 90%;
        left: 5%;
    }
    &:target {
        opacity: 1;
        pointer-events: initial;
        user-select: initial;
        transition: opacity .3s;
    }
    &.modal-lg {
        width: 1100px;
        left: calc(50% - 550px);
        @media (max-width: 1100px) {
            width: 90%;
            left: 5%;
        }
    }
    &.modal-sm {
        width: 600px;
        left: calc(50% - 300px);
        @media (max-width: 600px) {
            width: 90%;
            left: 5%;
        }
    }
    &.modal-xs {
        width: 400px;
        left: calc(50% - 200px);
        @media (max-width: 200px) {
            width: 90%;
            left: 5%;
        }
    }
    &.modal-success {
        border: 4px solid $btn-success-color;
    }
    &.modal-info {
        border: 4px solid $btn-info-color;
    }
    &.modal-primary {
        border: 4px solid $btn-primary-color;
    }
    &.modal-warning {
        border: 4px solid $btn-warning-color;
    }
    &.modal-danger {
        border: 4px solid $btn-danger-color;
    }
}
.modal-header {
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    color: $darkgray;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;
    .modal-success>&, .modal-info>&, .modal-primary>&, .modal-warning>&, .modal-danger>& {
        color: white;
        border: none;
    }
    .modal-success>& {
        background-color: $btn-success-color;
    }
    .modal-info>& {
        background-color: $btn-info-color;
    }
    .modal-primary>& {
        background-color: $btn-primary-color;
    }
    .modal-warning>& {
        background-color: $btn-warning-color;
    }
    .modal-danger>& {
        background-color: $btn-danger-color;
    }
}
.modal-body {
    padding: 10px;
    overflow: hidden;
}
.modal-footer {
    border-top: 1px solid lightgray;
    padding: 2px;
    position: sticky;
    bottom: 0px;
    background-color: white;
}
.modal-close {
    display: block;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    .modal:target+& {
        pointer-events: initial;
        transition: opacity .3s;
        opacity: 1;
    }
}