.pagination {
    &>a {
        display: inline-block;
        background-color: rgb(225, 230, 240);
        padding: 2px 15px 0px 15px;
        line-height: 30px;
        text-align: center;
        color: black;
        text-decoration: none;
        font-size: 14px;
        border: solid 1px gray;
        border-right-width: 0px;
        transition: background-color .1s;
        &:first-child {
            border-radius: 5px 0px 0px 5px;
        }
        &:last-child {
            border-radius: 0px 5px 5px 0px;
            border-right-width: 1px;
        }
        &:hover, &:focus, &.active {
            transition: background-color .2s;
            background-color: darken(lightgray, 10);
        }
    }
}
