.pagination {
    &>a {
        display: inline-block;
        background-color: white;
        padding: 2px 15px 0px 15px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        color: rgb(100, 100, 100);
        border: solid 1px lightgray;
        border-right-width: 0px;
        transition: background-color .1s;
        &:first-child {
            border-radius: 5px 0px 0px 5px;
        }
        &:last-child {
            border-radius: 0px 5px 5px 0px;
            border-right-width: 1px;
        }
        &:hover, &:focus {
            background-color: darken(white, $btn-hover-darken);
        }
        &:active {
            background-color: darken(white, $btn-active-darken);
        }
    }
}
