$progress-inner-shadow: 2px 2px 3px rgba(0,0,0,.5) inset;
$progress-border-radius: 3px;

@mixin progress-style() {
    background-color: whitesmoke;
    height: 20px;
    border-radius: $progress-border-radius;
    box-shadow: $progress-inner-shadow;
    background-image: linear-gradient(135deg, transparent, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66%);
    background-size: 35px 20px;
    animation-duration: .5s;
    animation-name: animate-indeterminate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: none;
    width: 100%;
}
@mixin progress-color($color) {
    color: $color;
    &::-webkit-progress-value {
        background-color: $color;
    }
    &::-moz-progress-bar {
        background-color: $color;
    }
}
progress {
    @include progress-style();
    margin-bottom: 10px;
    &::-ms-fill {
        animation-name: none;
    }
    &::-webkit-progress-bar {
        @include progress-style();
    }
    &::-moz-progress-bar {
        @include progress-style();
    }
    &[value] {
        background-image: none;
        &::-ms-fill {
            box-shadow: $progress-inner-shadow;
            border: none;
            border-radius: $progress-border-radius;
        }
        &::-webkit-progress-bar {
            background-image: none;
        }
        &::-webkit-progress-value {
            box-shadow: $progress-inner-shadow;
            border-radius: $progress-border-radius;
        }
        &::-moz-progress-bar {
            background-image: none;
        }

        @include progress-color($progress-default-color);
        &.progress-success {
            @include progress-color($progress-success-color);
        }
        &.progress-info {
            @include progress-color($progress-info-color);
        }
        &.progress-primary {
            @include progress-color($progress-primary-color);
        }
        &.progress-warning {
            @include progress-color($progress-warning-color);
        }
        &.progress-danger {
            @include progress-color($progress-danger-color);
        }
    }
}
@keyframes animate-indeterminate {
    from { background-position-x: 0px }
    to { background-position-x: 35px }
}