table.table, .table>table {
    counter-reset: table-rows;
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0px;

    th {
        text-align: left;
        padding: 5px 10px;
    }
    tbody>tr {
        counter-increment: table-rows;
    }
    @media (pointer: fine) {
        tbody > tr:hover {
            background: rgb(240, 240, 240);
        }
    }
    td {
        border-top: 1px solid lightgray;
        padding: 5px 10px;
    }
    tfoot {
        border-top: 2px solid gray;
    }
    .row-counter::after {
        content: counter(table-rows);
    }
}
div.table {
    overflow-x: auto;
}
table>caption {
    background-color: lightgray;
    padding: 7px 10px;
    margin-bottom: 5px;
    text-align: left;
    font-style: italic;
    &.table-caption-bottom {
        caption-side: bottom;
        margin-bottom: 0px;
        margin-top: 5px;
    }
}