%title {
    margin: 15px 0px 5px 0px;
    font-weight: normal;
}
.title-1 {
    @extend %title;
    font-size: 24px;
}
.title-2 {
    @extend %title;
    font-size: 22px;
}
.title-3 {
    @extend %title;
    font-size: 20px;
}
.title-4 {
    @extend %title;
    font-size: 18px;
}

p {
    margin: 5px 0px;
    font-size: 15px;
    line-height: 20px;
}
ul {
    margin: 5px 0px 15px 0px;
    font-size: 14px;
    padding-left: 25px;
    line-height: 17px;
}

.text-muted {
    color: $text-muted-color;
}
.text-success {
    color: $text-success-color;
}
.text-info {
    color: $text-info-color;
}
.text-primary {
    color: $text-primary-color;
}
.text-warning {
    color: $text-warning-color;
}
.text-danger {
    color: $text-danger-color;
}
.text-black {
    color: black;
}
.text-white {
    color: white;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

.text-last-left {
    text-align-last: left;
}
.text-last-center {
    text-align-last: center;
}
.text-last-right {
    text-align-last: right;
}
.text-last-justify {
    text-align-last: justify;
}

.text-underlined {
    text-decoration-line: underline;
}
.text-striked {
    text-decoration-line: line-through;
}
.text-overlined {
    text-decoration-line: overline;
}

.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}


.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

.text-sup {
    font-variant-position: super;
    vertical-align: super;
    font-size: smaller;
    line-height: normal;
}
.text-sub {
    font-variant-position: sub;
    vertical-align: sub;
    font-size: smaller;
    line-height: normal;
}