%title {
    margin: 15px 0px 5px 0px;
    font-weight: normal;
}
h1, .h1 {
    @extend %title;
    font-size: 44px;
}
h2, .h2 {
    @extend %title;
    font-size: 36px;
}
h3, .h3 {
    @extend %title;
    font-size: 28px;
}
h4, .h4 {
    @extend %title;
    font-size: 20px;
}
h5, .h5 {
    @extend %title;
    font-size: 20px;
    color: rgb(80, 80, 80);
}

p {
    margin: 5px 0px;
    font-size: 15px;
    line-height: 20px;
}
ul {
    margin: 5px 0px 15px 0px;
    font-size: 14px;
    padding-left: 25px;
    line-height: 17px;
}
code {
    display: inline-block;
    background: rgb(80, 80, 80);
    color: white;
    font-size: 13px;
    padding: 1px 4px;
    margin: 1px;
}
pre {
    background-color: rgb(80, 80, 80);
    padding: 5px;
}
hr {
    margin: 30px 0px 15px 0px;
}
blockquote {
    position: relative;
    background-color: lightgray;
    margin: 15px;
    padding: 10px 20px;
    border-left: 3px solid rgba(0,0,0,.3);
    font-size: 15px;
    &>p {
        text-indent: 2em;
        &:first-of-type::before {
            content: "“";
            display: block;
            position: absolute;
            margin-left: -10px;
            font-size: 20px;
        }
        &:last-of-type::after {
            content: " ”";
            font-size: 20px;
        }
    }
    &>cite {
        font-size: 13px;
        position: relative;
        width: calc(100% + 40px);
        margin: 10px -20px -10px;
        padding: 10px 15px 10px 18px;
        font-style: italic;
        display: block;
        background-color: rgba(0,0,0,.3);
        color: white;
        &::before {
            content: "― ";
        }
    }
}
.quote-success {
    background-color: $quote-success-color;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
.quote-info {
    background-color: $quote-info-color;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
.quote-primary {
    background-color: $quote-primary-color;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
.quote-warning {
    background-color: $quote-warning-color;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
}
.quote-danger {
    background-color: $quote-danger-color;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.text-muted {
    color: $text-muted-color;
}
.text-success {
    color: $text-success-color;
}
.text-info {
    color: $text-info-color;
}
.text-primary {
    color: $text-primary-color;
}
.text-warning {
    color: $text-warning-color;
}
.text-danger {
    color: $text-danger-color;
}
.text-black {
    color: black;
}
.text-white {
    color: white;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

.text-last-left {
    text-align-last: left;
}
.text-last-center {
    text-align-last: center;
}
.text-last-right {
    text-align-last: right;
}
.text-last-justify {
    text-align-last: justify;
}

.text-underlined {
    text-decoration-line: underline;
}
.text-striked {
    text-decoration-line: line-through;
}
.text-overlined {
    text-decoration-line: overline;
}

.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}


.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}

.text-sup {
    font-variant-position: super;
    vertical-align: super;
    font-size: smaller;
    line-height: normal;
}
.text-sub {
    font-variant-position: sub;
    vertical-align: sub;
    font-size: smaller;
    line-height: normal;
}

.no-wrap {
    white-space: nowrap;
}

.text-13 {
  font-size: 13px;
}
.text-15 {
    font-size: 15px;
}
.text-20 {
    font-size: 20px;
}
.text-25 {
    font-size: 25px;
}
.text-30 {
    font-size: 30px;
}
.text-35 {
    font-size: 35px;
}
.text-40 {
    font-size: 40px;
}
.text-50 {
    font-size: 50px;
}
.text-60 {
    font-size: 60px;
}
.text-80 {
    font-size: 80px;
}