.tooltip {
    position: relative;
    outline: none;
    overflow: visible; // IE is crazy
    &::before, &::after {
        display: block;
        white-space: normal;
        position: absolute;
        opacity: 0;
        transition-property: opacity;
        transition-duration: .7s;
        z-index: 10;
        pointer-events: none;
        left: 50%;
        transform: translateX(-50%);
    }
    &::before {
        content: "";
        bottom: calc(100% - 4px);
        width: 0px;
        height: 0px;
        border-top: 6px solid black;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    &::after {
        content: attr(title);
        background-color: black;
        color: white;
        bottom: calc(100% + 2px);
        padding: 3px 7px;
        border-radius: 4px;
        max-width: 250px;
        min-width: 150px;
        text-align: center;
        font-size: 13px;
        user-select: none;
        text-shadow: auto;
    }
    &[data-tooltip]::after {
        content: attr(data-tooltip);
    }
    &:hover, &:focus {
        &::before, &::after {
            opacity: 1;
        }
    }
}

.tooltip-left, .tooltip-right {
    &::before, &::after {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }

    &.tooltip-start {
        &::before {
            top: 5px;
        }
        &::after{
            top: 0px;
        }
    }
    &.tooltip-end {
        &::before, &::after {
            top: auto;
        }
        &::before {
            bottom: 5px;
        }
        &::after {
            bottom: 0px;
        }
    }
}

.tooltip-start, .tooltip-end {
    &::before, &::after {
        transform: none;
    }
}

.tooltip-start {
    &::before {
        left: 15px;
    }
    &::after {
        left: 0px;
    }
}
.tooltip-end, .tooltip-left {
    &::before, &::after {
        left: auto;
    }
}
.tooltip-end {
    &::before {
        right: 15px;
    }
    &::after {
        right: 0px;
    }
}
.tooltip-left {
    &::before {
        border-top: 4px solid transparent;
        border-left: 6px solid black;
        border-right: none;
        border-bottom: 4px solid transparent;
        right: calc(100% - 2px);
    }
    &::after {
        right: calc(100% + 4px);
    }
}
.tooltip-right {
    &::before {
        border-top: 4px solid transparent;
        border-left: none;
        border-right: 6px solid black;
        border-bottom: 4px solid transparent;
        left: calc(100% - 2px);
    }
    &::after {
        left: calc(100% + 4px);
    }
}
.tooltip-bottom {
    &::before, &::after {
        bottom: auto;
    }
    &::before {
        top: calc(100% - 2px);
        border-top: none;
        border-bottom: 6px solid black;
    }
    &::after {
        top: calc(100% + 4px);
    }
}