.tooltip {
    position: relative;
    outline: none;
    &::before, &::after {
        display: block;
        position: absolute;
        opacity: 0;
        transition: opacity .7s;
        z-index: 10;
        pointer-events: none;
    }
    &::before {
        content: "";
        bottom: calc(100% - 4px);
        left: 15px;
        width: 0px;
        height: 0px;
        border-top: 6px solid black;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    &::after {
        left: 0px;
        content: attr(title);
        background: black;
        color: white;
        bottom: calc(100% + 2px);
        padding: 3px 7px;
        border-radius: 4px;
        max-width: 250px;
        min-width: 150px;
        text-align: center;
        font-size: 13px;
    }
    &[data-tooltip]::after {
        content: attr(data-tooltip);
    }
    &:hover::before, &:hover::after {
        opacity: 1;
    }

    &.tooltip-end {
        &::before {
            left: initial;
            right: 15px;
        }
        &::after {
            left: initial;
            right: 0px;
        }

        &.tooltip-left, &.tooltip-right {
            &::before {
                top: initial;
                bottom: 5px;
            }
            &::after {
                top: initial;
                bottom: 0px;
            }
        }
    }

    &.tooltip-left {
        &::before {
            transform: rotateZ(-90deg);
            left: initial;
            right: calc(100% - 4px);
            top: 5px;
            bottom: initial;
        }
        &::after {
            left: initial;
            right: calc(100% + 2px);
            bottom: initial;
            top: 0px;
        }
    }

    &.tooltip-right {
        &::before {
            transform: rotateZ(90deg);
            right: initial;
            left: calc(100% - 4px);
            top: 5px;
            bottom: initial;
        }
        &::after {
            right: initial;
            left: calc(100% + 2px);
            bottom: initial;
            top: 0px;
        }
    }

    &.tooltip-bottom {
        &::before {
            transform: rotateX(180deg);
            bottom: initial;
            top: calc(100% - 4px);
        }
        &::after {
            bottom: initial;
            top: calc(100% + 2px);
        }
    }
}
