.container {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 50px);
}
.content {
    padding: 5px 10px;
    width: calc(100% - 230px);
    @media (max-width: $medium) {
        width: 100%;
        position: absolute;
        transition: transform .5s;
        .menu:target ~ & {
            transform: translateX(50vw);
        }
    }
    @media (max-width: $small) {
        .menu:target ~ & {
            transform: translateX(100vw);
        }
    }
}
.content-title {
    margin: 7px 0px;
    font-size: 25px;
    font-weight: normal;
    &>.material-icons {
        margin-top: -5px;
        margin-right: 5px;
    }
}
