// ****** colors ******

$blue: rgb(60, 141, 188);
$darkblue: rgb(54, 127, 169);

$softblack: rgb(34, 45, 50);
$black: rgb(51, 51, 51);

$darkgray: rgb(55, 72, 80);
$gray: rgb(102, 102, 102);
$lightgray: rgb(153, 153, 153);

$snow: rgb(184, 199, 206);

$background: rgb(236, 240, 245);

// ******* sizes *******

$small: 500px;
$medium: 900px;
