.header {
    background: $blue;
    display: flex;
    flex-wrap: wrap;
}
.header-button {
    font-size: 14px;
    line-height: 16px;
    padding: #{(50 - 16)/2}px 15px;
    text-decoration: none;
    color: white;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    &.material-icons {
        padding: 0px;
        width: 51px;
        text-align: center;
        line-height: 51px !important;
        font-size: 18px;
    }
    &:hover, &:active, &:focus {
        background: $darkblue;
    }
}
.main-button {
    background: $darkblue;
    width: 230px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    padding: 15px;
    margin-right: auto;

    @media (max-width: $medium) {
        width: 100%;
    }
}
.menu-toggle {
    margin-right: auto;
    font-size: 24px !important;
    @media (min-width: #{$medium + 1px}) {
        display: none !important;
    }
}
.header-button-label-red, .header-button-label-green, .header-button-label-yellow {
    position: absolute;
    display: block;
    left: calc(100% - 20px);
    top: 7px;
    font-size: 9px;
    line-height: 9px;
    padding: 2px;
    border-radius: 3px;
}
.header-button-label-green {
    background-color: $green;
}
.header-button-label-red {
    background-color: $red;
}
.header-button-label-yellow {
    background-color: $yellow;
}

.header-pane {
    display: inline-block;
    &:hover>.header-button, &:focus-within>.header-button, &>.header-button:focus, &>.header-button:hover {
        &::after, &::before {
            content: '';
            display: block;
            position: absolute;
            left: calc(50% - 4px);
            bottom: -3px;
            z-index: 50;
            border-top: 0px solid transparent;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 8px solid white;
        }
        &::before {
            border-bottom-color: lightgray;
            bottom: -1px;
            filter: drop-shadow(2px 0px 2px rgba(0,0,0,.5));
        }
    }
}
.header-pane-popup {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0px;
    width: 300px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    overflow: hidden;
    @media (max-width: 500px) {
        position: fixed;
        left: 10px;
        right: 10px;
        width: auto;
    }
    .header-button:focus+&, .header-pane:focus-within>&, .header-pane:hover>& {
        display: initial;
    }
}
.header-pane-header {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-size: 16px;
    color: rgb(50, 50, 50);
    &>.material-icons {
        margin-top: -4px;
        font-size: 20px;
    }
}
.header-pane-body {
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
    @media (max-height: 600px) {
        max-height: calc(100vh - 200px);
    }
}
.header-pane-footer {
    border-top: 1px solid lightgray;
    padding: 5px;
}

.notification-title {
    margin-bottom: 5px;
}
.notification-description {
    font-size: 13px;
    color: rgb(30, 30, 30);
}