*, *::before, *::after {
    box-sizing: border-box;
}
div, header, nav, main, footer, section, article, aside {
    position: relative;
}

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"), sans-serif;
}
$font-family: "system", sans-serif;

body {
    margin: 0px;
    font-size: 13px;
    background: $background;
    overflow-x: hidden;
    &, button {
        font-family: $font-family;
    }
}

input:not([type='range']), select {
    appearance: none;
    border: none;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}
i.material-icons {
    font-size: inherit;
    margin-right: .1em;
}
.material-icons {
    vertical-align: middle;
    &>* {
        font-family: $font-family;
    }
}
hr {
    height: 1px;
    background: linear-gradient(to right, transparent, lightgray 15%, lightgray 85%, transparent);
    border: none;
}