*, *::before, *::after {
    box-sizing: border-box;
}
div, header, nav, main, footer, section, article, aside {
    position: relative;
}
body {
    margin: 0px;
    font-size: 13px;
    background: $background;
    overflow-x: hidden;
    counter-reset: invalid-fields;
    &, button {
        font-family: sans-serif;
    }
}
