extends layout.pug

block content
    .row
        .col-12
            h1.content-title
                i.fa.fa-fw.fa-certificate
                | Badges
    .row
        .col-md-12
            .box
                .box-body
                    .text-center
                        span.badge-default .badge-default
                        span.badge-success .badge-success
                        span.badge-info .badge-info
                        span.badge-primary .badge-primary
                        span.badge-warning .badge-warning
                        span.badge-danger .badge-danger