extends layout.pug

block content
    h1.content-title
        i.material-icons web_asset
        | Box
    .row
        .col-md-6
            article.box
                .box-body
                    br
                    p Boxes are awesome containers to you content.
                    p You can separate your content in many boxes to better organize it.
                    br
        .col-md-6
            article.box
                .box-header A nice header
                    .pull-right
                        button.btn-xs.btn-primary
                            i.material-icons person
                            | Profile
                .box-body
                    p Boxes can also have headers and footers.

                .box-footer
                    button.btn-danger.btn-sm Delete
                    button.btn-success.btn-sm.pull-right Save
