extends layout.pug

block content
    .row
        .col-xs-12
            h1.content-title
                i.fa.fa-users Buttons
    .row
        .col-md-12
            .box
                .box-header Buttons
                .box-body
                    fieldset
                        legend Sizes
                        button.btn.btn-xs Extra small
                        button.btn.btn-sm Small
                        button.btn Normal
                        button.btn.btn-lg Large
                    fieldset
                        legend Colors
                        button.btn Default
                        button.btn.btn-success Success
                        button.btn.btn-info Info
                        button.btn.btn-primary Primary
                        button.btn.btn-warning Warning
                        button.btn.btn-danger Danger
                    fieldset
                        legend Misc
                        a(href='#').btn.btn-primary Link as button
                        button(disabled).btn.btn-danger Disabled
                        button.btn.btn-info.tooltip(title='Tooltip') With tooltip
                    fieldset
                        legend Pagination
                        .pagination
                            a(href='#') First
                            a(href='#') 1
                            a.active(href='#') 2
                            a(href='#') 3
                            a(href='#') »