extends layout.pug

block content
    .row
        .col-xs-12
            h1.content-title
                i.fa.fa-fw.fa-hand-pointer-o
                | Buttons
    .row
        .col-md-12
            .box
                .box-header Buttons
                .box-body
                    fieldset
                        legend Sizes
                        button.btn.btn-xs Extra small
                        button.btn.btn-sm Small
                        button.btn Normal
                        button.btn.btn-lg Large
                    fieldset
                        legend Colors
                        button.btn Default
                        button.btn.btn-success Success
                        button.btn.btn-info Info
                        button.btn.btn-primary Primary
                        button.btn.btn-warning Warning
                        button.btn.btn-danger Danger
                    fieldset
                        legend Color Trigger
                        .table
                            table
                                thead
                                    tr
                                        th User
                                        th Email
                                        th.text-center Actions
                                tbody
                                    tr.btn-color-trigger
                                        td John Doe
                                        td john.doe@email.com
                                        td.text-right
                                            button.btn.btn-sm.btn-primary
                                                i.fa.fa-fw.fa-search
                                                | Profile
                                            button.btn.btn-sm.btn-warning
                                                i.fa.fa-fw.fa-edit
                                                | Edit
                                            button.btn.btn-sm.btn-danger
                                                i.fa.fa-fw.fa-trash
                                                | Delete
                                    tr.btn-color-trigger
                                        td John Doe
                                        td john.doe@email.com
                                        td.text-right
                                            button.btn.btn-sm.btn-primary
                                                i.fa.fa-fw.fa-search
                                                | Profile
                                            button.btn.btn-sm.btn-warning
                                                i.fa.fa-fw.fa-edit
                                                | Edit
                                            button.btn.btn-sm.btn-danger
                                                i.fa.fa-fw.fa-trash
                                                | Delete
                                    tr.btn-color-trigger
                                        td John Doe
                                        td john.doe@email.com
                                        td.text-right
                                            button.btn.btn-sm.btn-primary
                                                i.fa.fa-fw.fa-search
                                                | Profile
                                            button.btn.btn-sm.btn-warning
                                                i.fa.fa-fw.fa-edit
                                                | Edit
                                            button.btn.btn-sm.btn-danger
                                                i.fa.fa-fw.fa-trash
                                                | Delete
                    fieldset
                        legend Misc
                        a(href='#').btn.btn-primary Link as button
                        button(disabled onclick='alert("I am disabled")').btn.btn-danger Disabled
                        button(onclick='alert("I am disabled")').btn.btn-danger.disabled Fake Disabled
                    fieldset
                        legend Pagination
                        .pagination
                            a(href='#') First
                            a(href='#') 1
                            a.active(href='#') 2
                            a(href='#') 3
                            a(href='#') »