doctype html
html
    head
        title Infomec
        meta(charset='utf-8')
        link(rel='stylesheet' href='css/style.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    body
        header.header
            a.header-button.main-button(href='index.html') InfoMec
            a.header-button.menu-toggle(href='#menu')
                i.fa.fa-bars
            a.header-button(href='#pane-tickets')
                i.fa.fa-calendar
            a.header-button(href='#pane-user') Ayrton
            ul.header-pane.ticket-pane#pane-tickets
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
                li
                    a.ticket-link(href='#')
                        span.ticket-title Troca de óleo
                        span.ticket-description
                            | Valdir José Alvez
                            br
                            | hoje
            .header-pane.user-pane#pane-user
                a(href='#').header-button.user-close Ayrton
                .user-background
                    i.fa.fa-user.user-icon
                    | Ayrton
                .user-buttons
                    a.user-btn(href='#') Editar
                    a.user-btn(href='#') Sair
        div.container
            nav.menu#menu
                a.menu-close.header-button(href='#')
                    i.fa.fa-bars
                form(action='#')
                    div.search
                        input.search-input(type='search' placeholder='Buscar cliente...')
                        button.search-submit(type='submit')
                            i.fa.fa-search
                a(href='#').menu-link
                    i.fa.fa-fw.fa-user
                    |  Cadastrar Cliente
                a(href='#').menu-link.menu-active
                    i.fa.fa-fw.fa-car
                    |  Cadastrar Carro
                a(href='#').menu-link
                    i.fa.fa-fw.fa-file-text-o
                    |  Cadastrar Ordem
                a(href='#').menu-link
                    i.fa.fa-fw.fa-calendar
                    |  Lembretes
                a(href='#').menu-link
                    i.fa.fa-fw.fa-calendar-check-o
                    |  Lembretes Automáticos
                a(href='#').menu-link
                    i.fa.fa-fw.fa-wrench
                    |  Serviços
                a(href='#').menu-link
                    i.fa.fa-fw.fa-industry
                    |  Fornecedores
                a(href='#').menu-link
                    i.fa.fa-fw.fa-history
                    |  Histórico
                a(href='#').menu-link
                    i.fa.fa-fw.fa-bank
                    |  Dados da Empresa
            main.content
                .row
                    h1.content-title
                        i.fa.fa-users Título da página
                .row
                    .box.col-lg-6
                        .box-header
                            i.fa.fa-users
                            |  Teste de cabeçalho
                        .row
                            .col-sm-12
                                button.btn-green.tooltip.tooltip-right(title='teste de tooltip que vai quebrar o layout') Teste
                                button.btn-yellow
                                    i.fa.fa-users
                                a.btn-red.tooltip(title='olha só que legal esse tooltip') Test
                                a.btn-blue.btn-small.tooltip.tooltip-left(title='outro tooltip')
                                    i.fa.fa-edit
                        .row
                            .col-sm-6.col-md-4.col-lg-2.red a
                            .col-sm-6.col-md-4.col-lg-2.red a
                            .col-sm-6.col-md-4.col-lg-2.red a
                            .col-sm-6.col-md-4.col-lg-2.red a
                            .col-sm-6.col-md-4.col-lg-2.red a
                            .col-sm-6.col-md-4.col-lg-2.red a
                        .row
                            .col-sm-12
                                table.table
                                    thead
                                        tr
                                            th Nome
                                            th Telefone
                                            th &nbsp;
                                    tbody
                                        tr
                                            td Ayrton
                                            td (45) 9 9853-1262
                                            td.text-right
                                                a.btn.btn-small.btn-red.tooltip(href='#' title='Excluir')
                                                    i.fa.fa-fw.fa-trash
                                        tr
                                            td Ayrton
                                            td (45) 9 9853-1262
                                            td.text-right
                                                a.btn.btn-small.btn-red.tooltip(href='#' title='Excluir')
                                                    i.fa.fa-fw.fa-trash
                                        tr
                                            td Ayrton
                                            td (45) 9 9853-1262
                                            td.text-right
                                                a.btn.btn-small.btn-red.tooltip(href='#' title='Excluir')
                                                    i.fa.fa-fw.fa-trash
                                    tfoot
                                        tr
                                            td(colspan='3') #[b Total:] 3
