extends layout.pug

block content
    .row
        .col-12
            h1.content-title
                i.material-icons home
                | Home Page
    .row
        .col-12
            .box
                h1.box-header Welcome to LiteAdmin!
                .box-body
                    h2 What is it?
                    p.
                        LiteAdmin is a feature-rich CSS-only admin template! #[br]
                        Does #[b feature-rich] and #[b CSS-only] sound weird together? Cause it shouldn't! #[br]
                        This template provide the most advanced features that CSS can power, out of the box, just use it!
                    h2 What can it do?
                    p Common template things:
                    ul
                        li nice buttons
                        li nice input
                        li text styles
                        li alert messages
                        li etc, you get it, all those thing you already know
                    p Cool things built purely with #[b CSS]:
                    ul
                        li nice modals
                        li custom checkbox/radio
                        li automatic table row counter
                        li automatic required field indicators
                        li valid/invalid fields counters
                        li hide element on valid/invalid form
                        li show/hide side menu on mobile