doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
        meta(name='theme-color' content='#3c8dbc')
        meta(name='msapplication-TileColor' content='#3c8dbc')
        meta(name='msapplication-navbutton-color' content='#3c8dbc')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
        title LiteAdmin
        link(rel='stylesheet' href='style.css')

        // faster material icon load
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    body
        form#form-valid-support-helper
            input(required)
            // this form is meant to help in detecting support to the form:valid selector
        header.header
            a.header-button.main-button(href='index.html') LiteAdmin
            a.header-button.menu-toggle.material-icons(href='#menu') menu
            a.header-button.material-icons(href='#pane-tickets') calendar_today
                span.header-button-label-red 5
            a.header-button(href='#pane-user') John Doe
            .header-pane-holder#pane-tickets
                a.header-pane-close(href='#')
                ul.header-pane.ticket-pane
                    li
                        a.ticket-link(href='#')
                            span.ticket-title Cortar a grama
                            span.ticket-description
                                | John Doe
                                br
                                | hoje
                    li
                        a.ticket-link(href='#')
                            span.ticket-title Limpar a cozinha
                            span.ticket-description
                                | John Doe
                                br
                                | hoje
                    li
                        a.ticket-link(href='#')
                            span.ticket-title Essa é uma tarefa com um texto mais longo, para testar o quanto a notificação aguenta
                            span.ticket-description
                                | Essa é uma descrição bem mais longa do que as outras, e é assim tão longa justamente para testar como se comportam notificações com texto longo.
                                br
                                | hoje
            .header-pane-holder#pane-user
                a.header-pane-close(href='#')
                .header-pane.user-pane
                    .user-background
                        i.material-icons.user-icon account_circle
                        | Usuário
                    .user-buttons
                        a.user-btn(href='#') Editar
                        a.user-btn(href='#') Sair
        div.container
            nav.menu#menu
                a.menu-close.header-button.material-icons(href='#') menu
                form(action='#')
                    div.search
                        input.search-input(type='search' placeholder='Pesquisar...')
                        button.search-submit.material-icons(type='submit') search
                a(href='modal.html').menu-link
                    i.material-icons aspect_ratio
                    | Modal
                a(href='tab.html').menu-link
                    i.material-icons tab
                    | Tabs
                a(href='combo.html').menu-link
                    i.material-icons keyboard_arrow_down
                    | Combo
                a(href='form.html').menu-link
                    i.material-icons keyboard
                    | Form
                a(href='tooltip.html').menu-link
                    i.material-icons feedback
                    | Tooltip
                a(href='button.html').menu-link
                    i.material-icons crop_7_5
                    | Button
                a(href='table.html').menu-link
                    i.material-icons grid_on
                    | Table
                a(href='box.html').menu-link
                    i.material-icons web_asset
                    | Box
                a(href='text.html').menu-link
                    i.material-icons text_fields
                    | Text
                a(href='badge.html').menu-link
                    i.material-icons local_offer
                    | Badges
                a(href='alert.html').menu-link
                    i.material-icons warning
                    | Alert
            main.content
                block content
