doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
        meta(name='theme-color' content='#3c8dbc')
        meta(name='msapplication-TileColor' content='#3c8dbc')
        meta(name='msapplication-navbutton-color' content='#3c8dbc')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
        title LiteAdmin
        link(rel='stylesheet' href='style.css')

        // faster material icon load
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    body
        form#form-valid-support-helper
            input(required)
            // this form is meant to help in detecting support to the form:valid selector
        header.header
            a.header-button.main-button(href='index.html') LiteAdmin
            a.header-button.menu-toggle.material-icons(href='#menu') menu
            .header-pane
                button.header-button.material-icons(type='button') calendar_today
                    span.header-button-label-red 5
                .header-pane-popup
                    .header-pane-header
                        i.material-icons notifications
                        | Notifications
                    ul.header-pane-body
                        li
                            a.no-link(href='#')
                                .notification-title Trim the grass
                                .notification-description John Doe
                                    .text-muted today
                            hr.margin-h-15
                        li
                            a.no-link(href='#')
                                .notification-title Clean the kitchen
                                .notification-description John Doe
                                    .text-muted today
                            hr.margin-h-15
                        li
                            a.no-link(href='#')
                                .notification-title A larger notification that would take more space and should break the line.
                                .notification-description That's an even larger description, that would take a lot of lines and should still look nice in any screen size.
                                    .text-muted yesterday
                            hr.margin-h-15
                        li
                            a.no-link(href='#')
                                .notification-title Trim the grass
                                .notification-description John Doe
                                    .text-muted today
                            hr.margin-h-15
                        li
                            a.no-link(href='#')
                                .notification-title Clean the kitchen
                                .notification-description John Doe
                                    .text-muted today
                            hr.margin-h-15
                        li
                            a.no-link(href='#')
                                .notification-title A larger notification that would take more space and should break the line.
                                .notification-description That's an even larger description, that would take a lot of lines and should still look nice in any screen size.
                                    .text-muted yesterday
                            hr.margin-h-15
                        li
                            a.no-link(href='#')
                                .notification-title Trim the grass
                                .notification-description John Doe
                                    .text-muted today
                            hr.margin-h-15
                        li
                            a.no-link(href='#')
                                .notification-title Clean the kitchen
                                .notification-description John Doe
                                    .text-muted today
                            hr.margin-h-15
                        li
                            a.no-link(href='#')
                                .notification-title A larger notification that would take more space and should break the line.
                                .notification-description That's an even larger description, that would take a lot of lines and should still look nice in any screen size.
                                    .text-muted yesterday
            .header-pane
                button.header-button(type='button') John Doe
                .header-pane-popup
                    .header-pane-body.text-center.bg-primary.text-white
                        br
                        .text-80
                            i.material-icons.user-icon account_circle
                        .text-20 John Doe
                        br
                        br
                    .header-pane-footer
                        a.btn-default.btn-sm(href='#') Account
                        a.btn-default.btn-sm.pull-right(href='#') Log out
        div.container
            nav.menu#menu
                a.menu-close.header-button.material-icons(href='#') menu
                form(action='#')
                    div.search
                        input.search-input(type='search' placeholder='Search...')
                        button.search-submit.material-icons(type='submit') search
                a(href='modal.html').menu-link
                    i.material-icons aspect_ratio
                    | Modal
                a(href='tab.html').menu-link
                    i.material-icons tab
                    | Tabs
                a(href='combo.html').menu-link
                    i.material-icons keyboard_arrow_down
                    | Combo
                a(href='form.html').menu-link
                    i.material-icons keyboard
                    | Form
                a(href='tooltip.html').menu-link
                    i.material-icons feedback
                    | Tooltip
                a(href='button.html').menu-link
                    i.material-icons crop_7_5
                    | Button
                a(href='table.html').menu-link
                    i.material-icons grid_on
                    | Table
                a(href='progress.html').menu-link
                    i.material-icons sort
                    | Progress bar
                a(href='range.html').menu-link
                    i.material-icons tune
                    | Range input
                a(href='box.html').menu-link
                    i.material-icons web_asset
                    | Box
                a(href='text.html').menu-link
                    i.material-icons text_fields
                    | Text
                a(href='badge.html').menu-link
                    i.material-icons local_offer
                    | Badges
                a(href='alert.html').menu-link
                    i.material-icons warning
                    | Alert
            main.content
                block content
