extends layout.pug

block content
    h1.content-title
        i.material-icons grid_on
        | Table
    article.box
        .box-body
            h2 Responsive tables
            p To make a table look nice, add the class #[code table] to it. If you want that table to be responsive (scroll horizontally on smaller screens), create a #[code #{'<div class="table">'}] wrapping the table instead.
            p The example bellow is a responsive table. Resize your browser to and see it scrolling!
            br
            .row.justify-content-center
                .col-md-10
                    .table
                        table
                            thead
                                tr
                                    th Name
                                    th Phone
                                    th Email
                                    th User
                                    th Address
                                    th &nbsp;
                            tbody
                                tr
                                    td John Doe
                                    td (12) 1234-1234
                                    td john.doe@email.com
                                    td johndoe
                                    td Street Test, City Testland, TS, US
                                    td.text-right
                                        a.btn-sm.btn-danger.tooltip.tooltip-left(href='#' title='Excluir')
                                            i.material-icons delete
                                tr
                                    td John Doe
                                    td (12) 1234-1234
                                    td john.doe@email.com
                                    td johndoe
                                    td Street Test, City Testland, TS, US
                                    td.text-right
                                        a.btn-sm.btn-danger.tooltip.tooltip-left(href='#' title='Excluir')
                                            i.material-icons delete
                                tr
                                    td John Doe
                                    td (12) 1234-1234
                                    td john.doe@email.com
                                    td johndoe
                                    td Street Test, City Testland, TS, US
                                    td.text-right
                                        a.btn-sm.btn-danger.tooltip.tooltip-left(href='#' title='Excluir')
                                            i.material-icons delete
            br
            hr
            h2#row_counter Row counter
            p You can easily append the number of rows in the #[code tbody] by using the #[code row-counter] class inside the table:
            br
            .row.justify-content-center
                .col-sm-10.col-md-8.col-lg-6
                    table.table
                        thead
                            tr
                                th #
                                th This row isn't included in the counter because it's in the #[code thead]
                        tbody
                            tr
                                td.row-counter
                                td A tbody row
                            tr
                                td.row-counter
                                td A tbody row
                            tr
                                td.row-counter
                                td A tbody row
                            tr
                                td.row-counter
                                td A tbody row
                        tfoot
                            tr
                                td(colspan='2') Total rows in the #[code tbody]: #[span.row-counter]

            br
            hr
            h2 Table caption
            p Add a #[code caption] element right inside of your #[code table] if you need it.
            p If you want your caption to be added to the bottom of the table, add the class #[code table-caption-bottom] to the #[code caption] element.
            br
            .row.justify-content-center
                .col-sm-10.col-md-6.col-lg-5
                    .table
                        table
                            caption Features of this project
                            thead
                                tr
                                    th Feature
                                    th Percentage
                            tbody
                                tr
                                    td Niceness
                                    td 100%
                                tr
                                    td Cross browser consistence
                                    td 99.99999%
                                tr
                                    td CSS
                                    td 100%
                                tr
                                    td JS
                                    td -0%
                            tfoot
                                tr
                                    td.text-bold Result
                                    td A cool project

                .col-sm-10.col-md-6.col-lg-5
                    .table
                        table
                            caption.table-caption-bottom Features of this project
                            thead
                                tr
                                    th Feature
                                    th Percentage
                            tbody
                                tr
                                    td Niceness
                                    td 100%
                                tr
                                    td Cross browser consistence
                                    td 99.99999%
                                tr
                                    td CSS
                                    td 100%
                                tr
                                    td JS
                                    td -0%
                            tfoot
                                tr
                                    td.text-bold Result
                                    td A cool project
            br
            hr
            h2 Condensed/comfortable table
            p You can set your tables to look more condensed or comfortable. Just add the class #[code table-condensed] or #[code table-comfortable] to it.
            br
            .row.justify-content-center
                .col-sm-10.col-sm-9.col-lg-4.col-xlg-3
                    .table.table-condensed
                        table
                            caption Condensed table
                            thead
                                tr
                                    th Lorem ipsum
                                    th dolor sit amet
                            tbody
                                tr
                                    td consectetur
                                    td adipiscing elit
                                tr
                                    td Duis justo nibh
                                    td faucibus vel nunc ac
                                tr
                                    td aliquam rutrum
                                    td magna lorem
                            tfoot
                                tr
                                    td Mauris pharetra
                                    td nulla a convallis ultricies
                .col-sm-10.col-sm-9.col-lg-4.col-xlg-3
                    .table
                        table
                            caption Default table
                            thead
                                tr
                                    th Lorem ipsum
                                    th dolor sit amet
                            tbody
                                tr
                                    td consectetur
                                    td adipiscing elit
                                tr
                                    td Duis justo nibh
                                    td faucibus vel nunc ac
                                tr
                                    td aliquam rutrum
                                    td magna lorem
                            tfoot
                                tr
                                    td Mauris pharetra
                                    td nulla a convallis ultricies
                .col-sm-10.col-sm-9.col-lg-4.col-xlg-3
                    .table.table-comfortable
                        table
                            caption Comfortable table
                            thead
                                tr
                                    th Lorem ipsum
                                    th dolor sit amet
                            tbody
                                tr
                                    td consectetur
                                    td adipiscing elit
                                tr
                                    td Duis justo nibh
                                    td faucibus vel nunc ac
                                tr
                                    td aliquam rutrum
                                    td magna lorem
                            tfoot
                                tr
                                    td Mauris pharetra
                                    td nulla a convallis ultricies
