extends layout.pug

block content
    .row
        .col-xs-12
            h1.content-title
                i.fa.fa-font Página inicial
    .row
        .col-md-6
            .box
                .box-header Títulos
                .box-body
                    h1.title-1 1. Título
                    h1.title-2 1.1. Título
                    h1.title-3 1.1.1. Título
                    h1.title-4 1.1.1.1. Título
        .col-md-6
            .box
                .box-header Blocos de texto
                .box-body
                    .row
                        .col-sm-6
                            p.title-2 Nome
                            p John Mac Doe
                        .col-sm-6
                            p.title-2 Endereço
                            p Brasil, São Paulo - SP, Rua das Flores, 1234
                    .row
                        .col-sm-6
                            p.title-2 Nascimento
                            p 15/06/1968
                        .col-sm-6
                            p.title-2 Cadastro
                            p Outubro de 2015