extends layout.pug

block content
    .row
        .col-xs-12
            h1.content-title
                i.fa.fa-fw.fa-font
                | Texts
    .row
        .col-xs-12
            .box
                .box-body
                    h2 Titles
                    p Use the html tags #[code h1], #[code h2], #[code h3] and #[code h4] wisely to hierarchically structure your page. If you need another element to look like a title, you can use the classes #[code h1], #[code h2], #[code h3] and #[code h4].
                    .row
                        .col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
                            .row.text-center
                                .col-xs-3.h1 1.h1
                                .col-xs-3.h2 1.1.h2
                                .col-xs-3.h3 1.1.1.h3
                                .col-xs-3.h4 1.1.1.1.h4
                    hr
                    h2 Alignment
                    p You can easily control the alignment of text with the classes #[code text-left], #[code text-center], #[code text-right] and #[code text-justify]:
                    br
                    .row
                        .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                            .row
                                .col-xs-4
                                    .alert.alert-primary.text-left .text-left
                                .col-xs-4
                                    .alert.alert-primary.text-center .text-center
                                .col-xs-4
                                    .alert.alert-primary.text-right .text-right
                            .row
                                .col-xs-12
                                    .alert.alert-primary.text-justify This is a #[b.text-underlined justified] text so it's gonna be shrink to fit the parent. This test text needs to be this long cause the last line is not justified by default.
                    hr
                    h2 Last line alignment
                    p You can control separately the alignment of the last line, with the classes #[code text-last-left], #[code text-last-center], #[code text-last-right] and #[code text-last-justify]:
                    .row
                        .col-xs-6
                            .alert.alert-primary.text-right.text-last-left This text is aligned to the right but the last line is set to the left. This text is aligned to the right but the last line is set to the left. This text is aligned to the right but the last line is set to the left.
                        .col-xs-6
                            .alert.alert-primary.text-last-right This text is aligned to the left but the last line is set to the right. This text is aligned to the left but the last line is set to the right. This text is aligned to the left but the last line is set to the right.
                        .col-xs-6
                            .alert.alert-primary.text-right.text-last-center This text is aligned to the right but the last line is centered. This text is aligned to the right but the last line is centered. This text is aligned to the right but the last line is centered.
                        .col-xs-6
                            .alert.alert-primary.text-right.text-last-justify This text is aligned to the right but the last line is justified. This text is aligned to the right but the last line is justified. This text is aligned to the right but the last line is justified.
                    hr
                    h2 Colors
                    p You have these classes to change the text color:
                    .row
                        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                            .row.text-center
                                .col-xs-3.text-muted .text-muted
                                .col-xs-3.text-success .text-success
                                .col-xs-3.text-info .text-info
                                .col-xs-3.text-primary .text-primary
                                .col-xs-3.text-warning .text-warning
                                .col-xs-3.text-danger .text-danger
                                .col-xs-3.text-black .text-black
                                .col-xs-3.text-white(style='background-color: gray') .text-white
                    hr
                    h2 Styling
                    p You also have plenty of classes to style your text. Some give you unique features like controlling the text case, other's are useful in occasions when you don't wanna use the html tags for some reason (not messing up with semantics, easy style toggling with JS, etc).
                    .row
                        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                            .row
                                .col-xs-4.text-underlined .text-underlined
                                .col-xs-4.text-striked .text-striked
                                .col-xs-4.text-overlined .text-overlined

                                .col-xs-4.text-bold .text-bold
                                .col-xs-4.text-italic .text-italic

                                .col-xs-4.text-uppercase .text-uppercase
                                .col-xs-4.text-lowercase .text-lowercase
                                .col-xs-4.text-capitalize .text-capitalize

                                .col-xs-4
                                    span.text-sub .text-sub
                                    span normal
                                    span.text-sup .text-sup
