$blue: rgb(60, 141, 188);
$darkblue: rgb(54, 127, 169);

$softblack: rgb(34, 45, 50);
$black: rgb(51, 51, 51);

$darkgray: rgb(55, 72, 80);
$gray: rgb(102, 102, 102);
$lightgray: rgb(153, 153, 153);

$snow: rgb(184, 199, 206);

$background: rgb(236, 240, 245);

$green: rgb(0, 166, 90);
$yellow: rgb(243, 156, 18);
$red: rgb(221, 75, 57);

$btn-default-color: rgb(150, 150, 150);
$btn-success-color: rgb(0, 166, 90);
$btn-info-color: rgb(100, 170, 195);
$btn-primary-color: rgb(60, 141, 188);
$btn-warning-color: rgb(243, 156, 18);
$btn-danger-color: rgb(221, 75, 57);
$btn-hover-darken: 7;
$btn-disabled-lighten: 7;