$blue: rgb(60, 141, 188);
$darkblue: rgb(54, 127, 169);

$softblack: rgb(34, 45, 50);
$black: rgb(51, 51, 51);

$darkgray: rgb(55, 72, 80);
$gray: rgb(102, 102, 102);
$lightgray: rgb(153, 153, 153);

$snow: rgb(184, 199, 206);

$background: rgb(236, 240, 245);

$green: rgb(0, 166, 90);
$yellow: rgb(243, 156, 18);
$red: rgb(221, 75, 57);

/* buttons */
$btn-success-color: rgb(0, 166, 90);
$btn-info-color: rgb(100, 170, 195);
$btn-primary-color: rgb(60, 141, 188);
$btn-warning-color: rgb(243, 156, 18);
$btn-danger-color: rgb(221, 75, 57);
$btn-hover-darken: 5;
$btn-active-darken: 15;
$btn-disabled-mix: lightgray;

/* alerts */
$alert-default-color: rgb(180, 190, 200);
$alert-success-color: rgb(40, 210, 120);
$alert-info-color: rgb(90, 185, 240);
$alert-primary-color: rgb(30, 135, 205);
$alert-warning-color: rgb(250, 175, 10);
$alert-danger-color: rgb(255, 80, 85);

/* text */
$text-muted-color: rgb(110, 110, 110);
$text-success-color: rgb(0, 166, 90);
$text-info-color: rgb(60, 141, 188);
$text-primary-color: rgb(40, 110, 150);
$text-warning-color: rgb(243, 156, 18);
$text-danger-color: rgb(221, 75, 57);

/* quote */
$quote-success-color: rgb(0, 166, 90);
$quote-info-color: rgb(100, 170, 195);
$quote-primary-color: rgb(60, 141, 188);
$quote-warning-color: rgb(243, 156, 18);
$quote-danger-color: rgb(221, 75, 57);

/* badge */
$badge-default-color: rgb(100, 100, 100);
$badge-success-color: rgb(0, 166, 90);
$badge-info-color: rgb(100, 170, 195);
$badge-primary-color: rgb(60, 141, 188);
$badge-warning-color: rgb(243, 156, 18);
$badge-danger-color: rgb(221, 75, 57);

/* progress */
$progress-default-color: rgb(100, 100, 100);
$progress-success-color: rgb(0, 166, 90);
$progress-info-color: rgb(100, 170, 195);
$progress-primary-color: rgb(60, 141, 188);
$progress-warning-color: rgb(243, 156, 18);
$progress-danger-color: rgb(221, 75, 57);

/* input range */
$range-default-color: rgb(100, 100, 100);
$range-success-color: rgb(0, 166, 90);
$range-info-color: rgb(100, 170, 195);
$range-primary-color: rgb(60, 141, 188);
$range-warning-color: rgb(243, 156, 18);
$range-danger-color: rgb(221, 75, 57);

/* bg */
$bg-default-color: rgb(100, 100, 100);
$bg-success-color: rgb(0, 166, 90);
$bg-info-color: rgb(100, 170, 195);
$bg-primary-color: rgb(60, 141, 188);
$bg-warning-color: rgb(243, 156, 18);
$bg-danger-color: rgb(221, 75, 57);