$gutter-width: 1rem;
$outer-margin: 2rem;
$gutter-compensation: -#{($gutter-width/2)};
$half-gutter-width: #{($gutter-width/2)};
$xs-min: 30;
$sm-min: 48;
$md-min: 64;
$lg-min: 75;
$screen-xs-min: #{$xs-min}em;
$screen-sm-min: #{$sm-min}em;
$screen-md-min: #{$md-min}em;
$screen-lg-min: #{$lg-min}em;
$container-sm: #{($sm-min + $gutter-width)};
$container-md: #{($md-min + $gutter-width)};
$container-lg: #{($lg-min + $gutter-width)};
