@import 'config';

$sm-viewport: 'min-width: 48em';
$md-viewport: 'min-width: 64em';
$lg-viewport: 'min-width: 75em';

.row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
    .col-xs-#{$i} {
        flex: 0 0 auto;
        padding-right: #{$half-gutter-width};
        padding-left: #{$half-gutter-width};
        flex-basis: #{percentage($i/12)};
        max-width: #{percentage($i/12)};
    }
    .col-xs-offset-#{$i} {
        margin-left: #{percentage($i/12)};
    }
}

@media (#{$container-sm}) {
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            flex: 0 0 auto;
            padding-right: #{$half-gutter-width};
            padding-left: #{$half-gutter-width};
            flex-basis: #{percentage($i/12)};
            max-width: #{percentage($i/12)};
        }
        .col-sm-offset-#{$i} {
            margin-left: #{percentage($i/12)};
        }
    }
}

@media (#{$md-viewport}) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            flex: 0 0 auto;
            padding-right: #{$half-gutter-width};
            padding-left: #{$half-gutter-width};
            flex-basis: #{percentage($i/12)};
            max-width: #{percentage($i/12)};
        }
        .col-md-offset-#{$i} {
            margin-left: #{percentage($i/12)};
        }
    }
}

@media (#{$lg-viewport}) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            flex: 0 0 auto;
            padding-right: #{$half-gutter-width};
            padding-left: #{$half-gutter-width};
            flex-basis: #{percentage($i/12)};
            max-width: #{percentage($i/12)};
        }
        .col-lg-offset-#{$i} {
            margin-left: #{percentage($i/12)};
        }
    }
}
